* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
form {
  padding: 24px 0;
  text-align: center;
}
input {
  padding:8px;
  border: none;
}
button {
  padding:12px;
  background-color: green;
  color: #fff;
  border: none;
}
